
.t {
	font-size: 4.5rem;
	padding: 0 10px;
	line-height: 1.4;
	height: 240px;
	width: 470px;
	margin-top: 10px;
  border-radius: 5px;
	text-align: center;
	.t-n {
		text-transform: uppercase;
	}
	.t-s-o {
		.t-s {
			padding-right: 10px;
			font-size: 3.2rem;
		}
		.t-o {
			font-size: 2.3rem;
		}
		.t-y {
			font-size: 3rem;
		}
	}
}