<div class="box one" *ngIf="_match" [ngClass]="{'ads': _isAds }">
	<div class="d-flex part-1">
		<div class="t color1">
			<div class="t-n">{{ _match.team1 }}</div>
			<div class="t-s-o" *ngIf="_match.score1A">
				<span class="t-s" *ngIf="_match.score1A && _match.score1B == ''">{{ _match.score1A }}</span>
				<span class="t-s" *ngIf="_match.score1B != ''">{{ _match.score1B }}</span>
				<span class="t-o" *ngIf="_match.score1A != ''">({{ _match.over1A || _match.over1B }} Ovs)</span>
				<span class="t-s" *ngIf="_match.score1B != ''"> & {{ _match.score1A }}</span>
			</div>
		</div>
		<div class="ml-auto"></div>
		<div class="t color1">
			<div class="t-n">{{ _match.team2 }}</div>
			<div class="t-s-o">
				<div class="t-s-o" *ngIf="_match.score2A == ''">
					<span class="t-y"></span>
				</div>
				<span class="t-s" *ngIf="_match.score2A && _match.score2B == ''">{{ _match.score2A }}</span>
				<span class="t-s" *ngIf="_match.score2B != ''">{{ _match.score2A }} & {{ _match.score2B }}</span>
				<!-- <span class="t-o" *ngIf="_match.score2A != ''">({{ _match.over2A || _match.over2B }} Ovs)</span> -->
			</div>
		</div>

	</div>

	<app-base-theme [match]="_match" [data]="_data" [toss]="_toss" [special]="_special"></app-base-theme>

	<!-- <div class="row m-0 pt-2 text-white upper effect8">
		<div class="py-3 bg-primary col-md-2 text-left ">Current RR</div>
		<div class="py-3 bg-primary col-md-1">{{ _match.crr }}</div>

		<div class="col-md-6"></div>

		<div class="py-3 bg-primary col-md-3 text-center" *ngIf="_match.rrr == ''">TOSS: {{ _toss }}</div>
		<div class="py-3 bg-primary col-md-2 text-right" *ngIf="_match.rrr != ''">Required RR</div>
		<div class="py-3 bg-primary col-md-1" *ngIf="_match.rrr != ''">{{ _match.rrr }}</div>
	</div>

	<div class="row m-0 pt-2 text-white upper effect8">
		<div class="py-3 bg-success col-md-9">{{ _match.status || _match.lastStatus }}</div>
		<div class="py-3 bg-success col-md-3 text-center effect8">
			<i *ngIf="showArrow(_match.lastStatus)" class="fa fa-sync fa-spin"></i>
			{{ _match.lastStatus.length < 20 ? _match.lastStatus : '' }}
		</div>
	</div>

	<div style="position: relative;" [ngClass]="{'show-data': _data }">
		<div [innerHtml]="_data" class="data col-md-12" style="height: 670px;"></div>
		<div class="row">
			<div class="" [ngClass]="{ 'col-md-9' : hasSpecial, 'col-md-12' : !hasSpecial }">
				<table class="table mt-3 upper text-center">
					<thead>
						<tr class="bg-success text-white">
							<th class="text-left effect8" scope="col-6">BATSMEN</th>
							<th scope="col-1" class="effect8">Runs</th>
							<th scope="col-1" class="effect8">Balls</th>
							<th scope="col-1" class="effect8">Fours</th>
							<th scope="col-1" class="effect8">Sixes</th>
							<th scope="col-2" class="effect8">Strike Rate</th>
						</tr>
					</thead>
					<tbody >
						<tr class="text-white" *ngIf="_match.b1 && _match.b1.p">
							<td class="text-left effect8">
								<span style="width: 20px;" [hidden]="_match.b1.ib"></span>
								<img src="assets/bat.svg" style="width: 20px;" [hidden]="!_match.b1.ib" />
								{{ _match.b1.p }}
							</td>
							<td class="effect8">{{ _match.b1.r }}</td>
							<td class="effect8">{{ _match.b1.b }}</td>
							<td class="effect8">{{ _match.b1.f }}</td>
							<td class="effect8">{{ _match.b1.s }}</td>
							<td class="effect8">{{ _match.b1.sr }}</td>
						</tr>

						<tr class="text-white" *ngIf="_match.b2 && _match.b2.p">
							<td class="text-left effect8">
								<span style="width: 20px;" [hidden]="_match.b2.ib"></span>
								<img src="assets/bat.svg" style="width: 20px;" [hidden]="!_match.b2.ib" />
								{{ _match.b2.p }}
							</td>
							<td class="effect8">{{ _match.b2.r }}</td>
							<td class="effect8">{{ _match.b2.b }}</td>
							<td class="effect8">{{ _match.b2.f }}</td>
							<td class="effect8">{{ _match.b2.s }}</td>
							<td class="effect8">{{ _match.b2.sr }}</td>
						</tr>
					</tbody>
				</table>

				<table class="table mt-3 upper">
					<thead>
						<tr class="bg-primary text-white row mx-0">
							<th class="col-2 text-center bg-success effect8">RECENT</th>
							<th class="col-6 effect8">
								<ng-container *ngFor="let o of _match.ro; let i = index;">
									<span [class.four]="o.toString() == '4'" [class.six]="o.toString() == '6'" [class.wicket]="o.toString() == 'W'" [class.space]="o.toString() == '|'" [class.last-ball]=" i == 0">
										{{o}}
									</span>
								</ng-container>
							</th>
							<th class="col-3 text-center bg-success effect8">Partnership</th>
							<th class="col-1 effect8">{{ _match.ps }}</th>
						</tr>
					</thead>
				</table>

				<table class="table mt-3 upper text-center">
					<thead>
						<tr class="bg-success text-white">
							<th class="text-left effect8" scope="col-6">BOWLER</th>
							<th scope="col-1" class="effect8">Overs</th>
							<th scope="col-1" class="effect8">Maiden</th>
							<th scope="col-1" class="effect8">Runs</th>
							<th scope="col-1" class="effect8">Wickets</th>
							<th scope="col-2" class="effect8">Economy</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-white" *ngIf="_match.b3 && _match.b3.p">
							<td class="text-left effect8">{{ _match.b3.p }}</td>
							<td class="effect8">{{ _match.b3.o }}</td>
							<td class="effect8">{{ _match.b3.m }}</td>
							<td class="effect8">{{ _match.b3.r }}</td>
							<td class="effect8">{{ _match.b3.w }}</td>
							<td class="effect8">{{ _match.b3.e }}</td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="bg-success text-white" [ngClass]="{ 'col-md-3 my-4' : hasSpecial, 'col-md-0' : !hasSpecial }">
				<div class="mt-4" [innerHtml]="_special"></div>
			</div>

		<div class="mx-3">
			<table class="table">
				<thead>
					<tr class="recent-ovs m-0 effect8" >
						<th class="upper bg-success text-left" style="width: 320px;">LAST WICKET</th>
						<th class="upper color2 text-left" style="min-width: 410px;max-width: 410px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ _match.lw.p }}</th>
						<th class="upper color2 text-right" style="width: 230px;">{{ _match.lw.s }}</th>
						<th class="upper bg-success text-left" style="width: 320px;">LAST BOWLER</th>
						<th class="upper color2 text-left" style="min-width: 410px;max-width: 410px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ _match.lb.p }}</th>
						<th class="upper color2 text-right" style="width: 230px;">{{ _match.lb.s }}</th>
					</tr>
				</thead>
			</table>
		</div> -->

</div>
