<div class="box">
	<div class="row m-0" style="height: 170px;">
		<div class="score-ct text-right">
			<span class="score" *ngIf="match.score1">{{ match.score1 }}</span>
			<span class="overs" *ngIf="match.overs1">({{ match.overs1 }})</span>
		</div>
		<div class="d-flex justify-content-between" style="width: 920px; padding: 0 20px;">
			<h1 class="team">{{ match.team1Full }}</h1>
			<h1 class="team">VS</h1>
			<h1 class="team">{{ match.team2Full }}</h1>
		</div>

		<div class="score-ct text-left">
			<span class="score" *ngIf="match.score2">{{ match.score2 }}</span>
			<span class="overs" *ngIf="match.overs2">({{ match.overs2 }})</span>
		</div>
	</div>

	<div style="position: relative;" [ngClass]="{'show-data':  data }">
		<div [innerHtml]="data" class="data col-md-6" style="height: 706px;"></div>
		<div class="row m-0 py-2 bg-secondary info" style="height: 76px;">
			<div class="col-md-6">{{ match.status }}</div>
			<div class="col-md-2 text-right">Current RR</div>
			<div class="col-md-1 text-left">{{ match.crr }}</div>
			<div class="col-md-2 text-right" *ngIf="match.rrr">Required RR</div>
			<div class="col-md-1 text-left" *ngIf="match.rrr">{{ match.rrr }}</div>
		</div>

		<div class="row m-0 py-2 mt-1 bg-success info" style="height: 76px;">
			<div class="col-md-2">Recent</div>
			<div class="col-md-7">{{ match.recentOvs }}
			</div>
			<div class="col-md-2 text-right">Partnership</div>
			<div class="col-md-1 text-left">{{ match.partnerShip }}</div>
		</div>

		<div style="height: 550px;">
			<div class="row" style="height: 260px;">
				<div class="col-md-6">
					<div class="d-flex bg-info mt-2" style="font-size: 2.5rem;">
						<div style="width: 430px; padding-left: 10px;">BATSMEN</div>
						<div class="text-center" style="width: 100px;">R</div>
						<div class="text-center" style="width: 100px;">B</div>
						<div class="text-center" style="width: 75px;">4s</div>
						<div class="text-center" style="width: 75px;">6s</div>
						<div class="text-center" style="width: 150px;">SR</div>
					</div>
					<div class="d-flex mt-2" *ngIf="match.bat1 && match.bat1.playerId" style="font-size: 3rem;">
						<div class="" style="width: 430px; padding-left: 10px;">{{ match.bat1.name }}</div>
						<div class="text-center" style="width: 100px;">{{ match.bat1.r }}</div>
						<div class="text-center" style="width: 100px;">{{ match.bat1.b }}</div>
						<div class="text-center" style="width: 75px;">{{ match.bat1['4s'] }}</div>
						<div class="text-center" style="width: 75px;">{{ match.bat1['6s'] }}</div>
						<div class="text-center" style="width: 150px;">{{ match.bat1.sr }}</div>
					</div>
					<div class="d-flex mt-2" *ngIf="match.bat2 && match.bat2.playerId" style="font-size: 3rem;">
						<div class="" style="width: 430px; padding-left: 10px;">{{ match.bat2.name }}</div>
						<div class="text-center" style="width: 100px;">{{ match.bat2.r }}</div>
						<div class="text-center" style="width: 100px;">{{ match.bat2.b }}</div>
						<div class="text-center" style="width: 75px;">{{ match.bat2['4s'] }}</div>
						<div class="text-center" style="width: 75px;">{{ match.bat2['6s'] }}</div>
						<div class="text-center" style="width: 150px;">{{ match.bat2.sr }}</div>
					</div>
				</div>
			</div>
			<div class="row " style="height: 240px;">
				<div class="col-md-6">
					<div class="d-flex bg-info mt-2" style="font-size: 2.5rem;">
						<div style="width: 430px; padding-left: 10px;">BOWLER</div>
						<div class="text-center" style="width: 100px;">O</div>
						<div class="text-center" style="width: 100px;">M</div>
						<div class="text-center" style="width: 75px;">R</div>
						<div class="text-center" style="width: 75px;">W</div>
						<div class="text-center" style="width: 150px;">ECO</div>
					</div>
					<div class="d-flex mt-2" *ngIf="match.bowl1 && match.bowl1.playerId" style="font-size: 3rem;">
						<div class="" style="width: 430px; padding-left: 10px;">{{ match.bowl1.name }}</div>
						<div class="text-center" style="width: 100px;">{{ match.bowl1.ov }}</div>
						<div class="text-center" style="width: 100px;">{{ match.bowl1.maid }}</div>
						<div class="text-center" style="width: 75px;">{{ match.bowl1.r }}</div>
						<div class="text-center" style="width: 75px;">{{ match.bowl1.w }}</div>
						<div class="text-center" style="width: 150px;">{{ match.bowl1.e }}</div>
					</div>
					<div class="d-flex mt-2" *ngIf="match.bowl2 && match.bowl2.playerId" style="font-size: 3rem;">
						<div class="" style="width: 430px; padding-left: 10px;">{{ match.bowl2.name }}</div>
						<div class="text-center" style="width: 100px;">{{ match.bowl2.ov }}</div>
						<div class="text-center" style="width: 100px;">{{ match.bowl2.maid }}</div>
						<div class="text-center" style="width: 75px;">{{ match.bowl2.r }}</div>
						<div class="text-center" style="width: 75px;">{{ match.bowl2.w }}</div>
						<div class="text-center" style="width: 150px;">{{ match.bowl2.e }}</div>
					</div>
				</div>
			</div>

			<div class="row bg-secondary m-0" style="height: 50px;" *ngIf="match.lastWkt">
				<div class="col-md-6">{{ match.lastWkt }}</div>
			</div>
		</div>
	</div>

	<div class="" style="height: 200px;"></div>
</div>