.box {
	font-size: 2rem;
	font-weight: 700;
	width: 1920px;
	height: 1080px;
	padding: 0 10px;
	background: #212529;
	font-family: Poppins, sans-serif;
	color: #fff;

	.flag-40 {
		transform: scale(1.5);
    margin-top: 37px;
	}
}

.t {
	font-size: 5rem;
	padding: 0 15px;
	.t-s-o {
		.t-s {
			padding-right: 20px;
		}
		.t-o {
			font-size: 4rem;
		}
		.t-y {
			font-size: 3rem;
		}
	}
}