<div style="position: relative;" *ngIf="_match" class="three">
	<div class="box" [ngClass]="{'ads': _isAds }">
		<div class="part-1">
			<div class="d-flex justify-content-between t">
				<div class="t-n d-flex">
					<span class="flag-40 {{ _match.team1 }} mr-4"></span>
					{{ _match.team1 }}</div>
				<div class="t-s-o" *ngIf="_match.score1A">
				<div class="t-s-o" *ngIf="_match.score1A">
					<span class="t-s">{{ _match.score1A }}</span>
					<span class="t-o" *ngIf="_match.over1A">({{ _match.over1A }})</span>
				</div>
			</div>

			<div class="d-flex justify-content-between t">
				<div class="t-n d-flex">
					<span class="flag-40 {{ _match.team2 }} mr-4"></span>
					{{ _match.team2 }}</div>
				<div class="t-s-o" *ngIf="_match.score2A">
					<span class="t-s" *ngIf="_match.over2A">{{ _match.score2A }}</span>
					<span class="t-y" *ngIf="!_match.over2A">YET TO BAT</span>
					<span class="t-o" *ngIf="_match.over2A">({{ _match.over2A }})</span>
				</div>
			</div>
		</div>

		<app-base-theme [match]="_match" [data]="_data" [toss]="_toss" [special]="_special"></app-base-theme>
	</div>
</div>
