
#arrowAnim {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 5px;
  height: 5px;
  border: 5px solid;
  border-color: black transparent transparent black;
  transform: rotate(-45deg);
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
          animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(20px); }
   20% { opacity:1; transform: translateX(10px); }
   80% { opacity:1; transform: translateX(-5px); }
  100% { opacity:0; transform: translateX(-10px); }
}
@keyframes slide {
	0% { opacity:0; transform: translateX(20px); }
	20% { opacity:1; transform: translateX(10px); }
	80% { opacity:1; transform: translateX(-10px); }
 100% { opacity:0; transform: translateX(-20px); }
}