.t {
	font-size: 5rem;
	padding: 0 15px;
	.flag-40 {
		transform: scale(1.5);
    margin-top: 44px;
	}
	.t-s-o {
		.t-s {
			padding-right: 20px;
		}
		.t-o {
			font-size: 4rem;
		}
		.t-y {
			font-size: 3rem;
		}
	}
}