<div style="position: relative;" *ngIf="_match">
	<div class="box two" [ngClass]="{'ads': _isAds }">
		<div class="part-1">
			<div class="d-flex justify-content-between t">
				<div class="t-n d-flex pl-2">
					<span class="flag-40 {{ _match.team1Short }} mr-5"></span>
					{{ _match.team1 }}
				</div>
				<div class="t-s-o" *ngIf="_match.score1A">
					<span class="t-s" *ngIf="_match.score1A && _match.score1B == ''">{{ _match.score1A }}</span>
					<span class="t-s" *ngIf="_match.score1B != ''">{{ _match.score1B }}</span>
					<span class="t-o" *ngIf="_match.score1A != ''">({{ _match.over1A || _match.over1B }} Ovs)</span>
					<span class="t-s" *ngIf="_match.score1B != ''"> & {{ _match.score1A }}</span>
				</div>
			</div>

			<div class="d-flex justify-content-between t">
				<div class="t-n d-flex pl-2">
					<span class="flag-40 {{ _match.team2Short }} mr-5"></span>
					{{ _match.team2 }}
				</div>
				<div class="t-s-o" *ngIf="_match.score2A">
					<span class="t-s" *ngIf="_match.score2A && _match.score2B == ''">{{ _match.score2A }}</span>
					<span class="t-s" *ngIf="_match.score2B != ''">{{ _match.score2A }} & {{ _match.score2B }}</span>
					<!-- <span class="t-s" *ngIf="_match.over2A">{{ _match.score2A }}</span>
					<span class="t-y" *ngIf="!_match.over2A">YET TO BAT</span>
					<span class="t-o" *ngIf="_match.over2A">({{ _match.over2A }} Ovs)</span> -->
				</div>
			</div>
		</div>


		<app-base-theme [match]="_match" [data]="_data" [toss]="_toss" [special]="_special"></app-base-theme>
	</div>
</div>
