<div class="mt-1">
	<div class="text-center m-4">
		<button class="btn btn-primary" (click)="hideAll()">HIDE</button>
	</div>
	<div class="row mb-2">
		<div class="col-md-6">
			<ul class="list-group" *ngIf="inn1">
				<li class="list-group-item active">
					<div class="row">
						<div class="col-md-3"><h2>{{ team1 }}</h2></div>
						<div class="col-md-3"><h2>{{ inn1.scorecard.runs }} - {{ inn1.scorecard.wkts }}</h2></div>
						<div class="col-md-3"><h2>{{ inn1.overProgress }} Ovs</h2></div>
						<div class="col-md-3"><h2>RR: {{ inn1.runRate }}</h2></div>
					</div>
				</li>
				<li class="list-group-item" *ngFor="let bat of inn1.scorecard.battingStats">
					<div class="row">
						<div class="col-md-3">{{ players[bat.playerId] }}</div>
						<div class="col-md-6">{{ bat.mod ? bat.mod.text: 'NOT OUT' }}</div>
						<div class="col-md-1">{{ bat.r }}({{ bat.b }})</div>
						<div class="col-md-2" >
							<button class="btn btn-primary ml-2" (click)="playerShortBat(bat, team1Full)">SHOW</button>
						</div>
					</div>
				</li>
			</ul>
			<ul class="list-group mt-3" *ngIf="inn1">
				<li class="list-group-item active">
					<div class="row">
						<div class="col-md-12"><h2>{{ team2 }} Bowling</h2></div>
					</div>
				</li>
				<li class="list-group-item" *ngFor="let bat of inn1.scorecard.bowlingStats">
					<div class="row">
						<div class="col-md-3">{{ players[bat.playerId] }}</div>
						<div class="col-md-5">{{ bat.ov }}-{{ bat.maid }}-{{ bat.r }}-{{ bat.w }}</div>
						<div class="col-md-2">{{ bat.e }}</div>
						<div class="col-md-2" >
							<button class="btn btn-primary ml-2" (click)="playerShortBowl(bat, team2Full)">SHOW</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-6">
			<ul class="list-group" *ngIf="inn2">
				<li class="list-group-item active">
					<div class="row">
						<div class="col-md-3"><h2>{{ team2 }}</h2></div>
						<div class="col-md-3"><h2>{{ inn2.scorecard.runs }} - {{ inn2.scorecard.wkts }}</h2></div>
						<div class="col-md-3"><h2>{{ inn2.overProgress }} Ovs</h2></div>
						<div class="col-md-3"><h2>RR: {{ inn2.runRate }}</h2></div>
					</div>
				</li>
				<li class="list-group-item" *ngFor="let bat of inn2.scorecard.battingStats">
					<div class="row">
						<div class="col-md-3">{{ players[bat.playerId] }}</div>
						<div class="col-md-6">{{ bat.mod ? bat.mod.text: 'NOT OUT' }}</div>
						<div class="col-md-1">{{ bat.r }}({{ bat.b }})</div>
						<div class="col-md-2" >
							<button class="btn btn-primary ml-2" (click)="playerShortBat(bat, team2Full)">SHOW</button>
						</div>
					</div>
				</li>
			</ul>
			<ul class="list-group mt-3" *ngIf="inn2">
				<li class="list-group-item active">
					<div class="row">
						<div class="col-md-12"><h2>{{ team1 }} Bowling</h2></div>
					</div>
				</li>
				<li class="list-group-item" *ngFor="let bat of inn2.scorecard.bowlingStats">
					<div class="row">
						<div class="col-md-3">{{ players[bat.playerId] }}</div>
						<div class="col-md-5">{{ bat.ov }}-{{ bat.maid }}-{{ bat.r }}-{{ bat.w }}</div>
						<div class="col-md-2">{{ bat.e }}</div>
						<div class="col-md-2" >
							<button class="btn btn-primary ml-2" (click)="playerShortBowl(bat, team1Full)">SHOW</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>


