.card {
	border: none;;
}
.box {
	font-size: 2rem;
	font-weight: 700;
	width: 1920px;
	height: 1080px;
	padding: 0 10px;
	background: #0e4085;
	font-family: Oswald, sans-serif;
	color: #fff;
}

.box1 h3 {
  text-align:center;
    position:relative;
    top:80px;
}
.box1 {
  //  background:#FFF;
    margin:40px auto;
}

.upper {
	text-transform: uppercase;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
}

h2 {
	font-size: 3.5rem;
	font-weight: 700;
}

h3 {
	font-size: 3rem;
	font-weight: 700;
}

h4 {
	font-size: 2.5rem;
	font-weight: 700;
}

h5 {
	font-size: 2rem;
	font-weight: 700;
}

h6 {
	font-size: 1.5rem;
	font-weight: 700;
}

.table {
	color: #fff;
	font-size: 2.5rem;
	// border-collapse: separate;
	// border-spacing: 5px 5px;
	thead {
		font-size: 2rem;
	}
	th, td {
	//	border-top: none;
	}
	thead {
		th {
		//	border-bottom: none;
		}
	}
}

.team-name {
	font-size: 5rem;
}

.score {
	font-size: 5.1rem;
}

.color1 {
	background: #c99335;
}

.color2 {
	background: #0b69e1;
}

.recent-ovs {
	font-size: 2.5rem;
}

.cbr-mt-1 {
	margin-top: -10px;
}

.data {
	background: linear-gradient(
-120deg
, #19398a, #0f1533, #19398a);
	display: none;
	position: absolute;
	z-index: 1;
	font-size: 1.7rem;
}

.show-data {
	.data {
		display: block;
	}
}

.hide {
	display: none;
}

.vc-container {
  width: 1920px;
	height: 880px;
  position: absolute;
  display: flex;
  background: #0e4085;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	top: 0;
	z-index: 100;


	h1 {
		font-size: 700px;
		color: #FFFFFF;
		transform: translateY(-600px);
		animation: 1.2s slideIn ease-in-out forwards 1s;
		z-index: 10;
		opacity: 0;
		position: relative;
	}

	h1::before {
			content: '';
			width: 0%;
			height: 76px;
			background-color: var(--secondary-color);
			position: absolute;
			bottom: -10px;
			animation: 1s underline ease-in-out forwards 2s;
			mix-blend-mode: screen;
	}

	.overlay {
			position: absolute;
			width: 100%;
			top: 0;
			bottom: 0;
			opacity: 0;
			left: 0;
			right: 0;
			transform: scale(.5);
			animation: .5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
	}

	@keyframes skewBg {
		0% {
			transform: scale(.5);
		}
		100% {
			transform: scale(1);
		}
	}

	@keyframes underline {
		100% {
			width: 100%;
		}
	}

	@keyframes slideIn {
		100% {
			transform: translateY(0px);
			opacity: 1;
		}
	}
}

.lastStatus {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.four,
.six,
.wicket {
	display: inline-block;
	width: 60px;
	height: 62px;
	text-align: center;
	border-radius: 50%;
}

.four {
	border: 2px solid #9e6105;
	background: #9e6105;
}

.six {
	border: 2px solid #c5a069;
	background: #c5a069;
}

.wicket {
	border: 2px solid #201301;
	background: #201301;
}

.last-ball {
	font-weight: 900;
}
