.card {
	border: none;;
}
.box {
	font-size: 2rem;
	font-weight: 700;
	width: 1920px;
	height: 1080px;
	padding: 0 10px;
	background: #508fb9;
}

.box1 h3 {
  text-align:center;
    position:relative;
    top:80px;
}
.box1 {
  //  background:#FFF;
    margin:40px auto;
}

.upper {
	text-transform: uppercase;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
}

h2 {
	font-size: 3.5rem;
	font-weight: 700;
}

h3 {
	font-size: 3rem;
	font-weight: 700;
}

h4 {
	font-size: 2.5rem;
	font-weight: 700;
}

h5 {
	font-size: 2rem;
	font-weight: 700;
}

h6 {
	font-size: 1.5rem;
	font-weight: 700;
}

.table {
	font-size: 2.5rem;
	// border-collapse: separate;
	// border-spacing: 5px 5px;
	th, td {
	//	border-top: none;
	}
	thead {
		th {
		//	border-bottom: none;
		}
	}
}

.bg-gradient-secondary {
	background: #6c757d linear-gradient(180deg,#828a91,#6c757d) repeat-x!important;
}

.bg-gradient-success {
	background: #28a745 linear-gradient(180deg,#48b461,#28a745) repeat-x!important;
}

.bg-gradient-info {
	background: #17a2b8 linear-gradient(180deg,#3ab0c3,#17a2b8) repeat-x!important;
}


// body{
//   background: #3399ff;
// }


// .circle{
//   position: absolute;
//   border-radius: 50%;
//   background: white;
//   animation: ripple 15s infinite;
//   box-shadow: 0px 0px 1px 0px #508fb9;
// }

// .small{
//   width: 200px;
//   height: 200px;
//   left: -100px;
//   bottom: -100px;
// }

// .medium{
//   width: 400px;
//   height: 400px;
//   left: -200px;
//   bottom: -200px;
// }

// .large{
//   width: 600px;
//   height: 600px;
//   left: -300px;
//   bottom: -300px;
// }

// .xlarge{
//   width: 800px;
//   height: 800px;
//   left: -400px;
//   bottom: -400px;
// }

// .xxlarge{
//   width: 1000px;
//   height: 1000px;
//   left: -500px;
//   bottom: -500px;
// }

// .shade1{
//   opacity: 0.2;
// }
// .shade2{
//   opacity: 0.5;
// }

// .shade3{
//   opacity: 0.7;
// }

// .shade4{
//   opacity: 0.8;
// }

// .shade5{
//   opacity: 0.9;
// }

// @keyframes ripple{
//   0%{
//     transform: scale(0.8);
//   }

//   50%{
//     transform: scale(1.2);
//   }

//   100%{
//     transform: scale(0.8);
//   }
// }

.ripple {
  margin: auto;
  margin-top: 10rem;
  background-color: #fff;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  animation: ripple 5s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 5rem rgba(255,255,255, 0.2),
                0 0 0 10rem rgba(255,255,255, 0.2),
                0 0 0 15rem rgba(255,255,255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10rem rgba(255,255,255, 0.2),
                0 0 0 20rem rgba(255,255,255, 0.2),
                0 0 0 30rem rgba(255,255,255, 0);
  }
}

.four,
.six,
.wicket {
	display: inline-block;
	width: 60px;
	height: 62px;
	text-align: center;
	border-radius: 50%;
}

.space {
	margin: 0 15px;
}

.four {
	border: 2px solid #9e6105;
	background: #9e6105;
}

.six {
	border: 2px solid #c5a069;
	background: #c5a069;
}

.wicket {
	border: 2px solid #201301;
	background: #201301;
}

.last-ball {
	font-weight: 900;
}



.data {
	background: #508fb9;
	display: none;
	position: absolute;
	z-index: 1;
	font-size: 1.7rem;
	color: #fff;
}

.show-data {
	.data {
		display: block;
	}
}

.hide {
	display: none;
}