.box {
	font-size: 2rem;
	font-weight: 700;
	padding: 0 10px;
	color: #fff;
	font-family: Oswald, sans-serif;
	background: linear-gradient(
-120deg
, #19398a, #0f1533, #19398a);
text-transform: uppercase;
}

.box1 h3 {
  text-align:center;
    position:relative;
    top:80px;
}
.box1 {
  //  background:#FFF;
    margin:40px auto;
}

.upper {
	text-transform: uppercase;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
}

h2 {
	font-size: 3.5rem;
	font-weight: 700;
}

h3 {
	font-size: 3rem;
	font-weight: 700;
}

h4 {
	font-size: 2.5rem;
	font-weight: 700;
}

h5 {
	font-size: 2rem;
	font-weight: 700;
}

h6 {
	font-size: 1.5rem;
	font-weight: 700;
}

.table {
	font-size: 2.5rem;
	border-collapse: separate;
	border-spacing: 5px 5px;
	th, td {
		border-top: none;
	}
	thead {
		th {
			border-bottom: none;
		}
	}
}

.bg-gradient-secondary {
	background: #6c757d linear-gradient(180deg,#828a91,#6c757d) repeat-x!important;
}

.bg-gradient-success {
	background: #28a745 linear-gradient(180deg,#48b461,#28a745) repeat-x!important;
}

.bg-gradient-info {
	background: #17a2b8 linear-gradient(180deg,#3ab0c3,#17a2b8) repeat-x!important;
}

.score {
	font-size: 7rem;
}
.overs {
	font-size: 4rem;
  padding-left: 1rem;
}
.team {
	font-size: 4.7rem;
  padding-top: 2rem;
}

.score-ct {
	width: 490px;
}

.team-ct {
	width: 450px;
}

.status-ct {
	width: 40px;
	padding-top: 60px;
	font-size: 1.8rem;
	text-align: center;
}

.info {
	font-size: 2.5rem;
}

.logo {
	background-image: url(https://www.iplt20.com/resources/v4.22.0/i/sprites/tLogo132x-sprite.png);
	background-repeat: no-repeat;
	width: 132px;
	height: 132px;
	background-position: -528px -264px;
	padding: 65px;
	margin-top: 15px;
}

.CSK {
	background-position: -132px 0;
}

.DC {
	background-position: -394px -264px;
}

.ball{
	&:last-child {
		color: #0f1533;
	}
}