<div class="box pb-5">
	<div class="row m-0" style="height: 150px; text-align: center;">
		<div class="d-flex justify-content-between" style="width: 920px; padding: 0 20px; margin: 0 auto;">
			<h1 class="team" *ngIf="matchTeam.team1">{{ matchTeam.team1.team.fullName }}</h1>
			<h1 class="team">VS</h1>
			<h1 class="team" *ngIf="matchTeam.team2">{{ matchTeam.team2.team.fullName }}</h1>
		</div>
	</div>
	<div class="row m-0">
		<div class="col-md-6">
			<ng-container *ngIf="team1">
				<div class="row mb-3" *ngFor="let p of team1.players">
					<div class="col-md-4">{{ p.shortName }}</div>
					<div class="col-md-8">
						<button class="btn btn-primary mr-2" (click)="toggle(p['id'], 'overall-bat')">BATTING OVERALL</button>
						<!-- <button class="btn btn-primary mr-2" (click)="toggle(p['id'], 'current-bat')">BATTING 2021</button> -->
						<button class="btn btn-primary mr-2" (click)="toggle(p['id'], 'overall-bowl')">BOWLING OVERALL</button>
						<!-- <button class="btn btn-primary mr-2" (click)="toggle(p['id'], 'current-bowl')">BOWLING 2021</button> -->
					</div>
				</div>
				</ng-container>
		</div>
		<div class="col-md-6">
			<ng-container *ngIf="team2">
				<div class="row mb-3" *ngFor="let p of team2.players">
					<div class="col-md-4">{{ p.shortName }}</div>
					<div class="col-md-8">
						<button class="btn btn-primary mr-2" (click)="toggle(p['id'], 'overall-bat')">BATTING OVERALL</button>
						<!-- <button class="btn btn-primary mr-2" (click)="toggle(p['id'], 'current-bat')">BATTING 2021</button> -->
						<button class="btn btn-primary mr-2" (click)="toggle(p['id'], 'overall-bowl')">BOWLING OVERALL</button>
						<!-- <button class="btn btn-primary mr-2" (click)="toggle(p['id'], 'current-bowl')">BOWLING 2021</button> -->
					</div>
				</div>
			</ng-container>
		</div>
	</div>

	<div class="text-center mt-3">
		<button class="btn btn-primary mr-2" (click)="hideAll()">HIDE</button>
	</div>
</div>
