.box {
	font-size: 1.5rem;
	font-weight: 700;
	width: 1920px;
	// height: 1080px;
	padding: 0 10px;
}
.upper {
	text-transform: uppercase;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
}

h2 {
	font-size: 3.5rem;
	font-weight: 700;
}

h3 {
	font-size: 3rem;
	font-weight: 700;
}

h4 {
	font-size: 2.5rem;
	font-weight: 700;
}

h5 {
	font-size: 2rem;
	font-weight: 700;
}

h6 {
	font-size: 1.5rem;
	font-weight: 700;
}

.table {
	font-size: 2rem;
	border-collapse: separate;
	border-spacing: 5px 5px;
	th, td {
		border-top: none;
	}
	thead {
		th {
			border-bottom: none;
		}
	}
}

#timer div {
	background-color: #000000;
	color: #ffffff;
	width: 100px;
	height: 105px;
	border-radius: 5px;
	font-size: 35px;
	font-weight: 700;
	margin-left: 10px;
	margin-right: 10px;
}
#timer div span {
	display: block;
	margin-top: -2px;
	font-size: 15px;
	font-weight: 500;
}
