<div class="container mt-3">
	<!-- <div class="mb-4">
		<textarea class="form-control"
		[(ngModel)]="htmlContent"
		placeholder="Enter text"
	></textarea>
	<div class="ml-auto mt-2">
		<button class="btn btn-primary" (click)="add()">ADD</button>
		<button class="btn btn-primary ml-2" (click)="remove()">DELETE</button>
	</div>
	</div> -->

	<ul class="list-group">
		<!-- <li class="list-group-item d-flex">
			<div class="">Group 1 Table</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['group1-table']" (click)="toggle('group1-table', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['group1-table']" (click)="toggle('group1-table', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Group 2 Table</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['group2-table']" (click)="toggle('group2-table', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['group2-table']" (click)="toggle('group2-table', false)">HIDE</button>
			</div>
		</li> -->

		<!-- <li class="list-group-item d-flex">
			<div class="">Point Table</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['point-table']" (click)="toggle('point-table', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['point-table']" (click)="toggle('point-table', false)">HIDE</button>
			</div>
		</li> -->

		<!-- <li class="list-group-item d-flex">
			<div class="">Most Runs in IPL 2021</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['most-runs']" (click)="toggle('most-runs', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['most-runs']" (click)="toggle('most-runs', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Most Runs in All IPL</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['most-runs-all']" (click)="toggle('most-runs-all', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['most-runs-all']" (click)="toggle('most-runs-all', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Most Wickets in IPL 2021</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['most-wkts']" (click)="toggle('most-wkts', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['most-wkts']" (click)="toggle('most-wkts', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Most Wickets in All IPL</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['most-wkts-all']" (click)="toggle('most-wkts-all', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['most-wkts-all']" (click)="toggle('most-wkts-all', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Most Sixes in IPL 2021</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['most-sixes']" (click)="toggle('most-sixes', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['most-sixes']" (click)="toggle('most-sixes', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Most Sixes in All IPL</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['most-sixes-all']" (click)="toggle('most-sixes-all', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['most-sixes-all']" (click)="toggle('most-sixes-all', false)">HIDE</button>
			</div>
		</li> -->

		<!-- <li class="list-group-item d-flex">
			<div class="">Umpires</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['umpires']" (click)="toggle('umpires', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['umpires']" (click)="toggle('umpires', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Weather</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['weather']" (click)="toggle('weather', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['weather']" (click)="toggle('weather', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Head To Head</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['head-to-head']" (click)="toggle('head-to-head', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['head-to-head']" (click)="toggle('head-to-head', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Series Info</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['series-info']" (click)="toggle('series-info', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['series-info']" (click)="toggle('series-info', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Previous Encounter</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['previous-encounter']" (click)="toggle('previous-encounter', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['previous-encounter']" (click)="toggle('previous-encounter', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Team 1 Squad</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['team1']" (click)="toggle('team1', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['team1']" (click)="toggle('team1', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Team 2 Squad</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['team2']" (click)="toggle('team2', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['team2']" (click)="toggle('team2', false)">HIDE</button>
			</div>
		</li>


		<li class="list-group-item d-flex">
			<div class="">Team 1 Batting</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['team1-bat']" (click)="toggle('team1-bat', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['team1-bat']" (click)="toggle('team1-bat', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Team 1 Bowling</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['team1-bowl']" (click)="toggle('team1-bowl', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['team1-bowl']" (click)="toggle('team1-bowl', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Team 2 Batting</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['team2-bat']" (click)="toggle('team2-bat', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['team2-bat']" (click)="toggle('team2-bat', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Team 2 Bowling</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['team2-bowl']" (click)="toggle('team2-bowl', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['team2-bowl']" (click)="toggle('team2-bowl', false)">HIDE</button>
			</div>
		</li> -->

		<li class="list-group-item d-flex">
			<div class="">Team A Squad</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['team1']" (click)="toggle('team1', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['team1']" (click)="toggle('team1', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Team B Squad</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['team2']" (click)="toggle('team2', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['team2']" (click)="toggle('team2', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Team A - Batting</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['inn1A']" (click)="toggle('inn1A', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['inn1A']" (click)="toggle('inn1A', false)">HIDE</button>
			</div>
		</li>
		<li class="list-group-item d-flex">
			<div class="">Team A - Bowling</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['inn2B']" (click)="toggle('inn2B', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['inn2B']" (click)="toggle('inn2B', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Team B - Batting</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['inn2A']" (click)="toggle('inn2A', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['inn2A']" (click)="toggle('inn2A', false)">HIDE</button>
			</div>
		</li>

		<li class="list-group-item d-flex">
			<div class="">Team B - Bowling</div>
			<div class="ml-auto">
				<button class="btn btn-primary" *ngIf="!data['inn1B']" (click)="toggle('inn1B', true)">SHOW</button>
				<button class="btn btn-primary ml-2" *ngIf="data['inn1B']" (click)="toggle('inn1B', false)">HIDE</button>
			</div>
		</li>
	</ul>
</div>
