/* You can add global styles to this file, and also import other style files */
body {
	// width: 1920px;
	// height: 1080px;
}

/*==================================================
* Effect 8
* ===============================================*/
.effect8
{
	position:relative;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		 -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
					box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
	content:"";
	position:absolute;
	z-index:-1;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
	box-shadow:0 0 20px rgba(0,0,0,0.8);
	top:10px;
	bottom:10px;
	left:0;
	right:0;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
}
.effect8:after
{
	right:10px;
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg);
		 -moz-transform:skew(8deg) rotate(3deg);
			-ms-transform:skew(8deg) rotate(3deg);
			 -o-transform:skew(8deg) rotate(3deg);
					transform:skew(8deg) rotate(3deg);
}

.table {
	color: #fff !important;
}

.cb-text-link {
	color: #fff !important;
}

.data {
	.table {
		th, td {
			padding: .45rem;
		}
	}

	.vc-h {
		height: 82px !important;
	}

	.img-thumbnail {
		height: 240px;
		border: none;
		background: none;
	}

	.p-name {
		position: relative;
		margin-top: -42px;
    margin-left: 2px;
    margin-right: 2px;
	}

	.team-logo {
		text-align: center;
    padding-top: 60px;
		border: none !important;

		p {
			font-size: 35px;
    	padding-top: 30px;
		}
	}
	// td:first-child { display: none; };
	// th:first-child { display: none; };
	// th {
	// 	text-align: center !important;
	// }
}


.r-t-t {
	background: radial-gradient(circle, #0674d6 0%, #06579f 100%);
	padding-top: 50px;
	height: 100%;
	.r-t-t-l {
		text-align: center;
    padding-top: 60px;
		border: none !important;
		p {
			font-size: 35px;
    	padding-top: 30px;
		}
	}
	.r-t-t-i {
		max-width: 100%;
    border: 2px solid #BE8BD5;
		width: 310px;
		height: 310px;
	}
	.r-t-t-p {
		background: #BE8BD5;
		margin-top: -42px;
    position: relative;
		text-align: center;
	}
	.r-t-t-b {
		margin-bottom: 20px;
	}
}

.flag-40 {
	background: url(https://www.icc-cricket.com/resources/prod/v8.21.12/i/sprites/flags-40-sprite.png) no-repeat;
	width: 60px;
	height: 40px;
	display: block;
	background-position: -480px -280px;
	display: inline-block;
	transform: scale(2);

	&.PNG {
		background-position: -420px 0;
	}
	&.AFG {
		background-position: 0 0;
	}
	&.ENG {
		background-position: -240px 0;
	}
	&.AUS {
		background-position: 0 -40px;
	}
	&.NZ {
		background-position: -120px -360px;
	}
	&.PAK {
		background-position: -240px -360px;
	}
	&.SCO {
		background-position: -420px -280px;
	}
	&.NED {
		background-position: -360px -320px;
	}
	&.BAN {
		background-position: -60px -80px;
	}
	&.IRE {
		background-position: -300px -240px;
	}
	&.NAM {
		background-position: -360px -240px;
	}
	&.IND {
		background-position: -300px -200px;
	}
	&.RSA {
		background-position: -420px -240px;
	}
	&.WI {
		background-position: -480px -200px;
	}
	&.SL {
		background-position: -180px -400px;
	}
}

.r-t {
	background: linear-gradient(-120deg, #19398a, #0f1533, #19398a);
	display: none;
	position: absolute;
	z-index: 1;
	font-size: 1.7rem;
	width: 100%;
	padding: 0 15px;
	height: 725px;

	.table {
		font-size: 1.9rem;
		thead, tbody {
			th, td {
				text-transform: uppercase;
				padding: 7px;
			}
		}
	}
}

.color1 {
	background: #ff3054;
}

.color2 {
	background: #271c5b;
}

.box {
	font-size: 2.7rem;
	font-weight: 700;
	width: 1920px;
	height: 1080px;
	padding: 0 10px;
	background: #10044a;
	font-family: Oswald, sans-serif;
	color: #fff;
	text-transform: uppercase;
}

.part-1 {
	height: 250px;
}

.gap {
	margin-top: 20px;
}

.vc-p {
	padding: 12px 20px;
}

.a-b {
	height: 0;
}

.ads {
	.part-2 {
		font-size: 2.4rem !important
	}
	.gap {
		margin-top: 8px;
	}
	.vc-p {
		padding: 8px 20px;
	}
	.a-b {
		height: 200px !important;
	}
	.r-t {
		height: 565px;
		.table {
			font-size: 1.5rem;
			thead, tbody {
				th, td {
					padding: 5px;
				}
			}
		}
	}
	&.box {
		&.one {
			.b-b {
				.o-f, .f-f {
					border: 2px solid #10044a;
					padding: 5px 20px;
				}
			}
			.gap {
				margin-top: 8px !important;
			}
		}
	}
	.r-t-t {
		padding-top: 20px;
		.r-t-t-l {
			padding-top: 60px;
			p {
				font-size: 35px;
				padding-top: 30px;
			}
		}
		.r-t-t-i, .r-t-t-p {
			max-width: 85%;
		}
		.r-t-t-p {
			font-size: 24px;
			margin-top: -38px;
		}
	}
	.pl-l {
		.pl-l-i {
			height: 375px;
		}
		.pl-ps-t {
			padding: 5px;
		}
	}
	.pl-r {
		.table {
			margin-top: 105px;
		}
	}
}

.box {
	&.one {
		.part-1 {
			margin-bottom: 15px;
		}
		.b-b {
			&.border-top {
				border-top: none !important;
			}
			&.vc-p {
				padding: 0 !important;
			}
			.o-f, .f-f {
				border: 4px solid #10044a;
				padding: 7px 20px;
				box-shadow: inset 0 0 5px #999;
			}
		}
		.b-s {
			box-shadow: inset 0 0 5px #999;
		}
	}
}

.pl-l {
	text-transform: uppercase;
	width: 600px;
	font-size: 3rem;
	padding-top: 10px;
	.pl-l-i {
		height: 400px;
		padding-left: 80px;
	}
	.pl-ps {
		text-align: center;
	}
	.pl-ps-t {
		border-top: 1px solid #dee2e6!important;
		padding: 7px;
	}
	.pl-ps-b {
		border-top: 2px solid #dee2e6;
		padding: 5px;
	}
}

.pl-r {
	width: 1300px;
	padding-top: 10px;
	text-transform: uppercase;
	.table {
		margin-top: 130px;
		font-size: 3rem !important;
		border-left: 2px solid #dee2e6;
    text-align: center;
	}
	.pl-pr {
		padding-top: 30px;
		.pl-pr-n {
			font-size: 5rem;
		}
		.pl-pr-c {
			font-size: 3rem;
		}
		.pl-pr-b {
			font-size: 2rem;
		}
	}
}

.two {
	.color1 {
		background: #131e29;
	}

	.color2 {
		background: #1e2833;
	}
}
.three {
	.color1 {
		background: #131e29;
	}

	.color2 {
		background: #1e2833;
	}
	.ro {
		width: 1383px !important;
	}
	.l-b-w {
		.l-h {
			width: 369px !important;
		}
		.l-t {
			width: 586px !important;
		}
	}
	.b-b {
		.f-f {
			span {
				padding-left: 60px !important;
			}
		}
	}
	.l-b-w {
		.l-t-r {
			width: 225px !important;
			overflow: hidden;
    	white-space: nowrap;
		}
	}
}
.head-to-head-info {
	padding-top: 20px;
	h2 {
		font-weight: 700;
    text-align: center;
    font-size: 6rem;
		padding-bottom: 5rem;
		padding-top: 2rem;
	}
	.team_card {
		display: flex!important;
	}
	.team_name_card {
		width: 910px;
    background: #131e29;
    margin: 20px;
		text-align: center;
		padding: 20px;
		span {
			font-size: 4rem;
		}
		.img_card {
			display: flex;
			padding-top: 5rem;
			img {
				transform: scale(1.5);
			}
			p {
				font-size: 2.5rem;
			}
			.colorfont {
				font-size: 7rem;
				padding: 0 20px;
			}
		}
	}
	.team_form_card {
		width: 910px;
    background: #131e29;
    margin: 20px;
		padding: 25px;
		text-align: center;
		span {
			font-size: 3rem;
		}
		.form-box {
			display: flex;
			margin-bottom: 2rem;
			margin-top: 2rem;
		}
		.t-n-img {
			transform: scale(1.5);
			width: 200px;
			span {
				font-size: 2rem;
			}
		}
		.r-boxes {
			display: flex;
			padding-left: 5rem;
			.result {
				background: rgba(71,152,11,.6);
				padding: 15px;
				font-size: 3rem;
				height: 100px;
				margin-right: 20px;
				width: 100px;
				text-align: center;
			}
		}
	}
}
.weather-info {
	h2 {
		text-align: center;
    font-size: 5rem;
    font-weight: 700;
    padding-top: 2rem;
    padding-bottom: 3rem;
	}
	.temp {
		font-size: 3rem;
	}
	.venue {
		font-size: 2rem;
	}
	.first_card {
		padding-left: 2rem;
    flex: 0 0 40%;
    max-width: 40%;
	}
	.weather_mid {
		font-size: 3rem;
		flex: 0 0 40%;
    max-width: 40%;
		.ssw {
			padding-bottom: 2rem;
		}
	}
	.rainy {
		flex: 0 0 20%;
    max-width: 20%;
		p {
			font-size: 3rem;
			text-align: center;
			padding-top: 2rem;
		}
	}
	img {
		transform: scale(2);
    padding-right: 10px;
	}
	.weather-img {
		text-align: center;
		img {
			transform: scale(5);
		}
	}
}
.card-series {
	background: #131e29;
	padding: 20px;
	font-size: 3rem;
	margin-top: 3rem;
	.heading {
		font-size: 2rem;
	}
	.series-info {
		padding-bottom: 2rem !important;
	}
	.series-match-info {
		border-top: 1px solid #eee;
		padding-top: 2rem !important;
	}
}

.previous-encounter-info {
	h2 {
		text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
	}
	.match_details {
		background: #162330;
    display: flex;
		font-size: 3rem;
  }
	.match_value {
		display: flex;
		padding: 1rem;
    font-size: 3rem;
		img {
			flex: 0 0 3.333333%;
			max-width: 3.333333%;
			margin-right: 10rem;
		}
		.over {
			padding: 0 10px;
			font-size: 2rem;
		}
		br:nth-child(1) {
			display: none;
		}
		br:nth-child(3) {
			display: none;
		}
		br:nth-child(5) {
			display: none;
		}
		br:nth-child(7) {
			display: none;
		}
	}
	.status {
		display: none;
	}
	.result {
		font-size: 2.5rem;
    padding-top: 4rem;
	}
	.show-more {
		display: none;
	}
	p {
		font-size: 2rem;
    padding-top: 3rem;
	}
}

.all-info {
	&.group-name {
		&.heading {
			font-size: 3rem;
			text-align: center;
			padding-bottom: 2rem;
    	padding-top: 1rem;
		}
	}
}
.table-content {
	.table-striped {
		width: 100%;
		.t-head, tbody {
			text-align: center;
		}
		td {
			padding: 15px 0;
		}
		th {
			font-size: 2.5rem;
    	font-weight: 700;
		}
		th:last-child {
			display: none;
		}
		img {
			width: 36px;
		}
	}
}

.insta {
	.box {
		width: 1080px;
		height: 1920px;
	}
	.s-b-l {
		width: 1060px !important;
		.b-b {
			width: 1060px !important;
			.o-f {
				width: 140px !important;
				padding: 7px 10px;
				font-size: 2.6rem;
				overflow: hidden;
			}
			.f-f {
				width: 360px !important;
				padding: 7px 10px;
				white-space: nowrap;
				span {
					font-size: 2.5rem !important;
				}
			}
		}
	}
	.s-c-r {
		display: block !important;
		.s {
			width: 1020px !important;
			margin-bottom: 10px;
    	padding-bottom: 10px;
			border-bottom: 1px solid #eee;
		}
		.crr {
			width: 500px !important;
			text-align: left !important;
			display: inline-block;
		}
		.rrr {
			width: 500px !important;
			text-align: right !important;
			display: inline-block;
		}
	}
	.l-b-w {
		width: 1080px !important;
		display: block !important;
		padding-top: 500px;
		.l-t {
			width: 770px !important;
		}
		.l-t-l {
			width: 520px !important;
		}
		.b-w {
			width: 1080px !important;
			padding-bottom: 20px;
		}
	}
	.r-p {
		display: block !important;
		.ps {
			width: 1060px !important;
			padding-top: 20px;
		}
		.ro {
			width: 1060px !important;
		}
	}
	.gap {
		margin-top: 30px;
	}
}

.player-profile {
	.pp-p {
		.img-box {
			width: 150px;
			height: 150px;
			padding-top: 125px;
			overflow: hidden;
		}
		img {
			width: 100%;
			transform: scale(3);
		}
		.pp-n {
			overflow: hidden;
			white-space: nowrap;
			font-size: 2.5rem;
		}
		.pp-s {
			line-height: 2.5rem;
			font-size: 2rem;
		}
		.pp-b {
			width: 309px;
		}
		.pp-nn {
			overflow: hidden;
			white-space: nowrap;
			font-size: 2.5rem;
			padding-top: 35px;
		}
	}
	.table {
		font-size: 2rem;
		th, td {
			text-align: center;
		}
	}
}


.r-t{
	//
	.cb-ltst-wgt-hdr, .cb-topc-mor {
		padding-bottom: 10px;
	}
	.cb-nws-dtl-lft-col, .cb-nws-lft-col, .cb-scrd-lft-col {
		border-right: 1px solid #ecebeb;
	}
	.cb-col {
		display: inline-block;
		box-sizing: border-box;
		float: left;
		min-height: 1px;
	}
	.cb-col-67 {
		width: 67%;
	}
	.cb-col-100 {
		width: 100%;
	}
	.cb-scrd-hdr-rw {
		background: #ff3054;
		color: #fff;
		padding: 8px 10px;
	}
	.pull-right, .cb-all-mtch-tab {
		float: right;
	}
	.cb-bg-gray {
		background: #ecebeb;
	}
	.cb-scrd-sub-hdr {
		padding: 4px 10px;
		font-size: 20px;
		color: #666;
	}
	.cb-col-27 {
		width: 27%;
	}
	.cb-col-8 {
		width: 8%;
	}
	.cb-col-33 {
		width: 33%;
	}
	.cb-scrd-itms {
		border-bottom: 1px solid #ff3054;
		padding: 4px 10px;
		font-size: 25px;
	}

	.cb-col-40 {
		width: 40%;
	}

	.cb-col-10 {
		width: 10%;
	}
}
