.part-2 {
	font-size: 2.8rem;
}
.show-data {
	.r-t {
		display: block;
	}
}

.s-c-r {
	.s {
		width: 960px;
		white-space: nowrap;
  	overflow: hidden;
	}
	.crr {
		width: 480px;
		text-align: center;
	}
	.rrr {
		width: 480px;
		text-align: center;
	}
}

.r-p {
	.ro {
		width: 1430px;

		.ro-sp {
			margin: 0 20px !important;
		}
		.ro-f,
		.ro-s,
		.ro-w {
			display: inline-block;
			width: 60px !important;
			height: 62px;
			text-align: center;
			border-radius: 50%;
		}

		.ro-f {
			border: 2px solid #9e6105;
			background: #9e6105;
		}

		.ro-s {
			border: 2px solid #c5a069;
			background: #c5a069;
		}

		.ro-w {
			border: 2px solid #201301;
			background: #201301;
		}

		.ro-b {
			margin: 0 5px;
		}

		.ro-lb {
			font-weight: 900;
			&:before {
				font-family: "Font Awesome 5 Free";
				position: absolute;
				top: -10px;
				left: 24px;
				content: "\f107";
				font-size: 20px;
			}
			&:after {
				font-family: "Font Awesome 5 Free";
				position: absolute;
				bottom: -12px;
				left: 24px;
				content: "\f106";
				font-size: 20px;
			}
			&.ro-f,
			&.ro-s,
			&.ro-w {
				&:before {
					left: 47px;
				}
				&:after {
					left: 47px;
				}
			}
		}
	}
	.ps {
		width: 465px;
	}
}

.b-b {
	.f-f {
		overflow: hidden;
  	position: relative;
		width: 920px;
		span {
			padding-left: 70px;
		}
	}
	.o-f {
		width: 200px;
		text-align: center;
	}
}

.l-b-w {
	.b-w {
		width: 960px;
	}
	.l-h {
		width: 290px;
	}
	.l-t {
		width: 660px;
	}
	.l-t-l {
		width: 410px;
	}
	.l-t-r {
		width: 240px;
		text-align: right;
	}
}

.t-l-s {
	align-items: center;
  justify-content: center;
	white-space: nowrap;
	text-transform: uppercase;
}

.t-w-s {
	white-space: nowrap;
  overflow: hidden;
}

.p-b {
	width: 20px;
  transform: scale(1.5);
	margin: 0 10px;
}

.p-i {
	width: 48px;
	transform: scale(3);
	top: 45px;
	position: absolute;
}

.p-i2 {
	width: 48px;
	transform: scale(3);
	top: 45px;
	position: absolute;
}


.s-b-l {
	width: 1900px;
}

.s-b-r {
	display: none;
}

.s-b {
	.s-b-l {
		width: 1400px;
	}

	.s-b-r {
		display: block;
		width: 500px;
    margin-top: 25px;
		margin-left: 10px;
  }

	.b-b {
		.f-f {
			width: 400px;
		}
	}
	.ro {
		width: 935px;
	}
}

.blinker {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #fff;
	text-decoration: blink;
	animation-name: blinker;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	margin-right: 10px;
	margin-top: 5px;
	.circle {
		width: 10px;
    height: 10px;
    background: #ff3054;
    border-radius: 50%;
    margin-right: 5%;
	}
}
@keyframes blinker {
	0% {
		opacity: 1
	}
	to { opacity: 0
	}
}

