<div *ngIf="_match" class="part-2">
	<div class="d-flex vc-p s-c-r b-s color2">
		<div class="s">{{ _match.status || _match.lastStatus }}</div>
		<div class="crr">Current RR: {{ _match.crr }}</div>
		<div class="rrr">
			<span *ngIf="_match.rrr">Required RR: {{ _match.rrr }}</span>
			<!-- <span *ngIf="!_match.rrr">TOSS: INDIA </span> -->
			<span>{{ _match.ovLeft }}</span>
		</div>
	</div>
	<div style="position: relative;" [ngClass]="{'show-data':  _data }">
		<div [innerHtml]="_data" class="r-t"></div>
		<div class="d-flex" [ngClass]="{ 's-b' : hasSpecial }" >
			<div class="s-b-l">

				<div class="d-flex color1 b-b vc-p gap">
					<div class="f-f">BATSMEN</div>
					<div class="o-f">RUNS</div>
					<div class="o-f">BALLS</div>
					<div class="o-f">FOURS</div>
					<div class="o-f">SIXES</div>
					<div class="o-f">SR</div>
				</div>
				<div class="d-flex color2 b-b vc-p" *ngIf="_match.b1 && _match.b1.p">
					<div class="f-f">
						<img [src]="_match.b1.i" class="p-i" />
						<span>{{ _match.b1.p }}</span>
						<span class="d-inline-block p-b" *ngIf="!_match.b1.ib"></span>
						<img src="assets/bat.svg" class="p-b" *ngIf="_match.b1.ib" />
					</div>
					<div class="o-f">{{ _match.b1.r }}</div>
					<div class="o-f">{{ _match.b1.b }}</div>
					<div class="o-f">{{ _match.b1.f }}</div>
					<div class="o-f">{{ _match.b1.s }}</div>
					<div class="o-f">{{ _match.b1.sr }}</div>
				</div>
				<div class="d-flex color2 b-b vc-p border-top" *ngIf="_match.b2 && _match.b2.p">
					<div class="f-f">
						<img [src]="_match.b2.i" class="p-i" />
						<span>{{ _match.b2.p }}</span>
						<span class="d-inline-block p-b" style="width: 20px;" *ngIf="!_match.b2.ib"></span>
						<img src="assets/bat.svg" class="p-b" *ngIf="_match.b2.ib" />
					</div>
					<div class="o-f">{{ _match.b2.r }}</div>
					<div class="o-f">{{ _match.b2.b }}</div>
					<div class="o-f">{{ _match.b2.f }}</div>
					<div class="o-f">{{ _match.b2.s }}</div>
					<div class="o-f">{{ _match.b2.sr }}</div>
				</div>

				<div class="d-flex r-p gap">
					<div class="d-flex ro">
						<div class="vc-p color1 t-l-s d-flex">
							<span class="blinker" *ngIf="!isWaiting">
								<span class="circle"></span>
							</span>
							<i *ngIf="isWaiting" class="fa fa-spinner fa-pulse mr-2"></i>
							<span>{{ _match.lastStatus }}</span>
						</div>
						<div class="vc-p color2 position-relative flex-fill t-w-s b-s">
							<ng-container *ngFor="let o of _match.ro; let i = index;">
								<span [class.ro-f]="o.toString() == '4'" [class.ro-s]="o.toString() == '6'" [class.ro-w]="o.toString() == 'W'" [class.ro-sp]="o.toString() == '|'" [class.ro-lb]=" i == 0" class="ro-b">
									{{ o }}
								</span>
							</ng-container>
						</div>
					</div>
					<div class="d-flex ps">
						<div class="vc-p p-h color1">PARTNERSHIP</div>
						<div class="vc-p p-t b-s w-100 color2">{{ _match.ps }}</div>
					</div>
				</div>

				<div class="d-flex color1 b-b vc-p gap">
					<div class="f-f">BOWLER</div>
					<div class="o-f">OVERS</div>
					<div class="o-f">MAIDEN</div>
					<div class="o-f">RUNS</div>
					<div class="o-f">WICKETS</div>
					<div class="o-f">ECO</div>
				</div>

				<div class="d-flex color2 b-b vc-p" *ngIf="_match.b3 && _match.b3.p">
					<div class="f-f">
						<img [src]="_match.b3.i" class="p-i2" />
						<span>{{ _match.b3.p }}</span>
					</div>
					<div class="o-f">{{ _match.b3.o }}</div>
					<div class="o-f">{{ _match.b3.m }}</div>
					<div class="o-f">{{ _match.b3.r }}</div>
					<div class="o-f">{{ _match.b3.w }}</div>
					<div class="o-f">{{ _match.b3.e }}</div>
				</div>
			</div>

			<div class="color1 text-white s-b-r">
				<div class="p-3" [innerHtml]="_special"></div>
			</div>
		</div>

		<div class="d-flex l-b-w gap">
			<div class="d-flex b-w">
				<div class="vc-p l-h color1">LAST WICKET</div>
				<div class="vc-p l-t color2 d-flex b-s">
					<div class="l-t-l t-w-s">{{ _match.lw.p }}</div>
					<div class="l-t-r">{{ _match.lw.s }}</div>
				</div>
			</div>
			<div class="d-flex b-w">
				<div class="vc-p l-h color1">LAST BOWLER</div>
				<div class="vc-p l-t color2 d-flex b-s">
					<div class="l-t-l t-w-s">{{ _match.lb.p }}</div>
					<div class="l-t-r">{{ _match.lb.s }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="a-b"></div>
</div>